body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: rgb(155, 14, 155);
    border-bottom: 2px solid rgb(155, 14, 155);
    padding-bottom: 10px;
}

h2 {
    font-weight: bold;
}

.entrada h2 { color: #0b0b5a; }
.metas h2 { color: #1667c2; }
.lecturas h2 { color: #1667c2; }

.lecturas a {
    color: #5da99a;
    text-decoration: none;
    font-weight: bold;
}

.lecturas a:hover { text-decoration: underline; }

.box {
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

.entrada { background: #d8e2fc; border: 2px solid #a0b3ff; }
.metas { background: #fcd8d8; border: 2px solid #f5a6a6; }
.lecturas { background: #d8f4fc; border: 2px solid #89d0e8; }