body{
font-family: Arial, sans-serif;
background:#f4f4f4;
margin:0;
padding:40px;
display:flex;
justify-content:center;
}

.cv{
max-width:800px;
background:white;
margin:auto;
padding:40px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
text-align:center;
}

h1{
color:#333;
margin-bottom:10px;
}

.titulo{
font-weight:bold;
color:#666;
}

.contacto{
margin-bottom:20px;
color:#555;
}

h2{
color:#c77dbb;
margin-top:30px;
}

.cv{
max-width:800px;
background:white;
margin:auto;
padding:40px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
text-align:center;
}



p{
line-height:1.6;
max-width:600px;
margin:auto;
}

ul{
line-height:1.8;
list-style-position:inside;
padding:0;
}